<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>

    <body>
        <div class="detail-bg">
            <h4>제목:  <%= detail.title %> </h4>
            <p>내용:  <%= detail.contents %> </p>
        </div> 
    </body>
</html>