<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <%if(currentUser){ %>
        <p><%= currentUser %>님 환영합니다.</p>
        <a href="/logout" style="text-decoration: none;  margin-top: 50px; margin-right: 20px; color: black;">로그아웃</a>
        <a href="/write" style="text-decoration: none; margin-top: 50px; margin-right: 20px; color: black">글작성</a>
        <a href="/mypage" style="text-decoration: none; margin-top: 50px; color: black">마이페이지</a>
       <% }else if(!currentUser){ %>
        <a href="/login" style="text-decoration: none;">로그인</a>
      <% } %>
    </div>
</body>
</html>