<div class="nav">
    <a class="logo">AppleForum</a>
    <a href="/write" style="text-decoration: none;">write</a>
    <a href="/login" style="text-decoration: none;">로그인</a>
    <a href="/myPage" style="text-decoration: none;">마이페이지</a>
</div>