<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>

    <body class="grey-bg">
        <form class="form-box" action="/register" method="POST">
            <h4>회원가입</h4>
            <input type="text" name="username">
            <input type="password" name="password">
            <button type="submit">회원가입</button>
        </form>
</body>
</html>