<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
    <body class="grey-bg">
        <div class="white-bg"> 
            <% for(let i = 0; i < users.length; i++) { %>
          <div class="list-box">
           
            <h4>이름:<%= users[i].name %> </h4>
            <p>이메일:<%= users[i].email %> </p>
          </div>
          <% } %>
        </div> 
</body>
</html>


