<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css" />
    <title>유저 상세정보</title>
  </head>

  <body>
    <div class="detail-bg">
      <h4>이름: <%= detail.name %></h4>
      <p>이메일: <%= detail.email %></p>
      <p>주소: <%= detail.address %></p>
      <p>성별: <%= detail.gender %></p><br>
      <p><a href="/userList">뒤로 돌아가기</a></p>
    </div>
  </body>
</html>
