<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>

    <body class="grey-bg">
        <form class="form-box" action="/add" method="POST">
            <h4>회원가입</h4>
            이름: <input type="text" name="name"><br>
            이메일: <input type="email" name="email"><br>
            비밀번호: <input type="password" name="password1"><br>
            비밀번호 확인: <input type="password" name="password2"><br>
            주소: <input type="text" name="address"><br>
            <label>성별: </label>
            남<input type="radio" name="gender" value="남자"> 여<input type="radio" name="gender" value="여자"><br>
            <button type="submit">회원가입</button>
        </form>
</body>
</html>