<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Document</title>
</head>
    <body class="grey-bg">
        <form class="form-box" action="/add" method="POST">
            <h4>글쓰기</h4>
            <input type="text" name="title">
            <input type="text" name="content">
            <button type="submit">전송</button>
        </form>
</body>
</html>


