.grey-bg {
  background: #eee;
}
.white-bg {
  background: white;
  margin: 20px;
  border-radius: 5px;
}
.list-box {
  padding: 10px;
  border-bottom: 1px solid#eee;
}
.list-box h4 {
  font-size: 16px;
  margin: 5px;
}
.list-box p {
  font-size: 13px;
  margin: 5px;
  color: grey;
}

input,
div {
  box-sizing: border-box;
}
.form-box {
  background: white;
  padding: 25px;
  margin: 20px;
  border-radius: 8px;
}
.form-box input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}
.form-box button {
  padding: 10px;
  border: none;
  background: lightgrey;
  border-radius: 5px;
  cursor: pointer;
}

.detail-bg {
  background: white;
  padding: 15px;
  margin-top: 10px;
}

.write-1 {
  display: flex;
  justify-content: flex-end;
}

.delete {
  cursor: pointer;
}

.search {
  margin-left: 20px;
  padding: 5px;
}
.search-send {
  padding: 6px 10px;
  background: lightgray;
  border: none;
  border-radius: 5px;
  vertical-align: middle;
}

.nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.main-container {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.comment-container {
  background-color: #fcfcfc;
  border: 1px solid #444444;
  width: 750px;
  height: 200px;
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 2px 2px #fcfcfc;
}

.comment-btn {
  width: 70px;
  height: 70px;
  font-size: 15px;
  margin-left: 5px;
  cursor: pointer;
}

.chat-screen {
  width: 100%;
}
.chat-box {
  margin-top: 15px;
  display: flex;
}
.chat-box span {
  padding: 10px;
  background: #eee;
}
.mine {
  justify-content: end;
}
.chat-input {
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
}
.chat-button {
  padding: 10px;
  border: none;
  background: lightgrey;
  border-radius: 5px;
}
